*{
    margin: 0;
    
}
body{
    padding: 0;margin: 0;
    color: rgb(23 20 20);}
.final{
    padding: 0;
    margin: 0;
/*     width: 100%;
    height: 1200px; */
}
span{
    font-weight: bold;
    font-size: larger;    
    padding-top: 2px;
    color: #4e36ac;
}
.content{
    padding: 0;
    margin: 0;
}
.navbar{
    background: black;
    width: 100%;
}
.navbar img{
   padding: 0px;
    height: 65px;
    width: 250px;
}
.container{
    display: grid;
    background: azure;
    grid-template-columns: 250px 1fr;
}
.side-nav a img{
    width: 100%;
    height: 15%;
    align-items: center;
}

.side-nav{
    font-weight: bolder;
    color:white;
    width: 100%;
    background: rgb(30, 30, 206);
    position: relative;
    display: flex;
    padding: 100px 0;
}
.wrapper-box{
    padding:14px 20px;
    height:300px;
}
.logo{
    display: block;
    margin-bottom: 130px;
}
.nav-link{
 position: fixed;
 list-style: none;
 padding: 25px 0px;
 width: 250px;
}
.nav-link li{
    /* width: 100%; */
    padding: 4px 22px;
}
.nav-link li a {
    text-decoration: none;
    color: #d3ddf2;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;   
}
.nav-link li:hover{
    background-color: rgb(16, 247, 159);
    color: #d3ddf2;
}
.active{
    background: rgb(46, 113, 1);
    width: 100%;
    height: 33px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 6px;
    box-shadow: rgb(73, 208, 223);
    z-index: -1;
    display: none;
    padding: 0 15px;
    transition: top .3s;
}
.nav-link li:hover a{
      font-weight: bolder;
      color: rgb(107, 72, 3);
      transition: .3s;
}
.nav-link li:hover ~ .active{
    display: block;
}
.nav-link li:nth-child(1):hover ~ .active{

    top: 0%;
}
.nav-link li:nth-child(2):hover ~ .active{

    top: 16.6%;
}
.nav-link li:nth-child(3):hover ~ .active{

    top: 33.2%;
}
.nav-link li:nth-child(4):hover ~ .active{

    top: 49.8%;
}
.nav-link li:nth-child(5):hover ~ .active{

    top: 66%;
}
.nav-link li:nth-child(6):hover ~ .active{

    top: 82.6%;
}

.mainB{
    background-color: rgb(175, 209, 255);
    padding: 0px;
    text-align: center;
    grid-template-rows: repeat(300px);
}
 .hob,.imag{
    background-color: rgb(162, 252, 252);
}
p,img,table,address,button{
    padding-top: 12px;
    margin-top: 15px;
}
 button{
    padding: 18px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: justify;
    text-shadow: #300acb;
    color: whitesmoke;
    background-color: rgb(5, 29, 29);
    text-align: right;
    border-radius: 10%;
    float: right;
}
table{
    width: 100%;
    height: 100%;
}
a,button{
    margin-top: 11px;
   transition-duration: 150ms;
    padding: 7px;
    margin: 0px;
    font-weight: bolder;
    text-decoration: none;
}
img{
    padding:0px 6% ;
    
}
table{
    border: none;
}
 table,td,tr,th{ 
    
    border: 1px solid #000;
    border-collapse: collapse; 
    text-align: center;
}
.joy{
    width: 98.1%;
    padding: 12px;
    background-color: rgb(17, 8, 53);
    bottom: 0px;
    position: relative;
}
.about{
    color: rgb(183, 183, 11);
    text-align: center;
    padding-left: 10px;
}
.about address{
    font-weight: bold;
}
select{
  
    float: right;
}

